<mat-card>
    <mat-card-title><u>Forgot Password </u></mat-card-title><br>
    <mat-card-content>
        <form [formGroup]="pwdform" (ngSubmit)="onSubmit(pwdform.value)">
            <p>
                <mat-form-field>
                    <input type="email" matInput placeholder="Email" formControlName="email" >
                </mat-form-field>
                <mat-error>  
                    <span *ngIf="!pwdform.get('email').valid && pwdform.get('email').touched">Enter proper Email !!!</span>  
                </mat-error>  
            </p>
            <div>
                <button mat-raised-button color="primary" style="width : 22em;" [disabled]="!pwdform.valid">Submit</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>        