<!-- <p>employee-reference works!</p> -->

<h2 style="text-align: center;"><u>Employment Details </u></h2>
<hr>

<!-- Main Toolbar of an App -->    
<mat-toolbar color="accent">  
  <span>Employment Details</span>  
  <span class="demo-toolbar"></span>  
  <!-- <button mat-button href="asp-dotnet-mvc-tutorials.blogspot.in"></button>   -->

</mat-toolbar>  

<!-- Card container that binds all togather -->  
<mat-card>  
  <!-- Title of an Card -->  
  <mat-card-title>  
    Employment Details
  </mat-card-title>  <br>

  <!-- Actual content starts from here -->  
  <mat-card-content>  
      <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value)">  
          <table>  
              <tr>  
                  
                  <td>  
                      <mat-form-field class="demo-full-width">  
                          <input formControlName="EmpCompanyID" matInput placeholder="EmpCompanyID">  
                      </mat-form-field>  
                      <mat-error>  
                          <span *ngIf="!regiForm.get('EmpCompanyID').valid && regiForm.get('EmpCompanyID').touched">Please enter EmpCompanyID !!!</span>  
                      </mat-error>  
                  </td>  
              </tr>  
              <tr>  
                <td colspan="2">  
                    <mat-form-field class="demo-full-width">  
                        <input formControlName="CompanyName" matInput placeholder="CompanyName" > 
                    </mat-form-field>  
                    <mat-error>  
                        <span *ngIf="!regiForm.get('CompanyName').valid && regiForm.get('CompanyName').touched">Please enter proper CompanyName !!!</span>  
                    </mat-error>  
                </td>  
              </tr>
              <tr>  
                <td colspan="2">  
                    <mat-form-field class="demo-full-width">  
                        <input formControlName="CompanyAddress" matInput placeholder="CompanyAddress" > 
                    </mat-form-field>  
                    <mat-error>  
                        <span *ngIf="!regiForm.get('CompanyAddress').valid && regiForm.get('CompanyAddress').touched">Please enter proper CompanyAddress !!!</span>  
                    </mat-error>  
                </td>  
              </tr>
              
              
              <tr>  
                <td>  
                    <mat-form-field class="demo-full-width">  
                        <input formControlName="IndustryType" matInput placeholder="IndustryType">  
                    </mat-form-field>  
                    <mat-error>  
                        <span *ngIf="!regiForm.get('IndustryType').valid && regiForm.get('IndustryType').touched">Please enter IndustryType !!!</span>  
                    </mat-error>  
                </td>  
                <td>  
                    <mat-form-field class="demo-full-width">  
                        <input formControlName="Designation" matInput placeholder="Designation">  
                    </mat-form-field>  
                    <mat-error>  
                        <span *ngIf="!regiForm.get('Designation').valid && regiForm.get('Designation').touched">Please enter Designation !!!</span>  
                    </mat-error>  
                </td>  
            </tr>  
              
            <tr>  
                <td colspan="2">
                    <mat-form-field>  
                        <mat-select formControlName="EmploymentType" placeholder="Employment Type">  
                            <mat-option>-- Select any--</mat-option>  
                            <mat-option value="Full Stack Developer">Full Stack Developer</mat-option>  
                            <mat-option value="Softwere Engineer">Softwere Engineer</mat-option>  
                            <mat-option value="IT Engineer">IT Engineer</mat-option>  
                            <mat-option value="Developer">Developer</mat-option>  
                        </mat-select>  
                        <mat-error>  
                            <span *ngIf="!regiForm.get('EmploymentType').valid && regiForm.get('EmploymentType').touched">Please select any item !!!</span>  
                        </mat-error>  
                    </mat-form-field>  
                </td> 
              </tr>  


              <tr>  
                <td>  
                    <mat-form-field class="demo-full-width">  
                        <input formControlName="WorkFrom" matInput [matDatepicker]="picker" placeholder="WorkFrom">  
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchui="true" #picker></mat-datepicker>
                    </mat-form-field>  
                    <mat-error>  
                        <span *ngIf="!regiForm.get('WorkFrom').valid && regiForm.get('WorkFrom').touched">Please enter WorkFrom !!!</span>  
                    </mat-error>  
                </td>  
                <td>  
                    <mat-form-field class="demo-full-width">  
                        <input formControlName="WorkTill" matInput [matDatepicker]="picker" placeholder="WorkTill"> 
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchui="true" #picker></mat-datepicker> 
                    </mat-form-field>  
                    <mat-error>  
                        <span *ngIf="!regiForm.get('WorkTill').valid && regiForm.get('WorkTill').touched">Please enter WorkTill !!!</span>  
                    </mat-error>  
                </td>  
                <td>  
                    <mat-form-field class="demo-full-width">  
                        <input formControlName="Salary" matInput placeholder="Salary">  
                    </mat-form-field>  
                    <mat-error>  
                        <span *ngIf="!regiForm.get('Salary').valid && regiForm.get('Salary').touched">Please enter Salary !!!</span>  
                    </mat-error>  
                </td>  
            </tr>  
              

             
              <tr>  
                <td colspan="2"> 
                    <mat-form-field class="demo-full-width">  
                        <input formControlName="SupervisiorName" matInput placeholder="SupervisiorName">  
                    </mat-form-field>  
                    <mat-error>  
                        <span *ngIf="!regiForm.get('SupervisiorName').valid && regiForm.get('SupervisiorName').touched">Please enter SupervisiorName !!!</span>  
                    </mat-error>  
                </td> 
                <td colspan="2"> 
                    <mat-form-field class="demo-full-width">  
                        <input formControlName="SupervisiorContactNumber" matInput placeholder="SupervisiorContactNumber">  
                    </mat-form-field>  
                    <mat-error>  
                        <span *ngIf="!regiForm.get('SupervisiorContactNumber').valid && regiForm.get('SupervisiorContactNumber').touched">Please enter 10 Mobile Number !!!</span>  
                    </mat-error>  
                </td> 
                   
              </tr>  
              <tr>  
                  <td colspan="2">  
                      <mat-form-field class="demo-full-width">  
                          <input formControlName="SupervisiorEmail" matInput placeholder="SupervisiorEmail">  
                          <mat-hint>use like : abc@gmail.com</mat-hint>  
                          <mat-error>  
                              <span *ngIf="!regiForm.get('SupervisiorEmail').valid && regiForm.get('SupervisiorEmail').touched">Enter proper Email !!!</span>  
                          </mat-error>  
                      </mat-form-field>  
                  </td>  
              </tr> 


              <tr>  
                <td>  
                    <mat-form-field class="demo-full-width">  
                        <input formControlName="ReasonForLeaving" matInput placeholder="ReasonForLeaving">  
                    </mat-form-field>  
                    <mat-error>  
                        <span *ngIf="!regiForm.get('ReasonForLeaving').valid && regiForm.get('ReasonForLeaving').touched">Please enter ReasonForLeaving !!!</span>  
                    </mat-error>  
                    
                </td>  
              </tr>

              <tr>  
                <td colspan="2"> 
                    <mat-form-field class="demo-full-width">  
                        <input formControlName="EligibleForRehire" matInput placeholder="EligibleForRehire">  
                    </mat-form-field>  
                    <mat-error>  
                        <span *ngIf="!regiForm.get('EligibleForRehire').valid && regiForm.get('EligibleForRehire').touched">Please enter EligibleForRehire !!!</span>  
                    </mat-error>  
                </td> 
                <td colspan="2"> 
                    <mat-form-field class="demo-full-width">  
                        <input formControlName="AgencyName" matInput placeholder="AgencyName">  
                    </mat-form-field>  
                    <mat-error>  
                        <span *ngIf="!regiForm.get('AgencyName').valid && regiForm.get('AgencyName').touched">Please enter AgencyName !!!</span>  
                    </mat-error>  
                </td> 
                   
              </tr>  

             
              <tr>  
                  <td colspan="2" class="content-center">  
                      <button mat-raised-button color="accent" [disabled]="!regiForm.valid">Submit</button>  
                  </td>  
              </tr>  
              <tr>  
                  <td></td>  
              </tr>  
          </table>  
      </form>  
  </mat-card-content>  
</mat-card>  

