 
<mat-card>  
    <mat-card-title>  
        Educational Details
    </mat-card-title>  
  
    <!-- Actual content starts from here -->  
    <mat-card-content>  
        <form [formGroup]="empEducationForm" (ngSubmit)="onFormSubmit(empEducationForm.value)">  
            <table>  
              <tr>
                  <td colspan="2"> 
                      <mat-form-field>  
                          <mat-select formControlName="Qualification" placeholder="Select Qualification">  
                              <mat-option>-- Select Any --</mat-option>  
                              <mat-option value="C#Corner">BE</mat-option>  
                              <mat-option value="C#Corner">B-Tech</mat-option>  
                              <mat-option value="C#Corner">M-Tech</mat-option>  
                          </mat-select>  
                          <mat-error>  
                              <span *ngIf="!empEducationForm.get('Qualification').valid && empEducationForm.get('Qualification').touched">Please select Qualification !!!</span>  
                          </mat-error>  
                      </mat-form-field>  
                  </td>  
              </tr>
                
                <tr>  
                    <td colspan="2">  
                        <mat-form-field class="demo-full-width">  
                            <input formControlName="university" matInput placeholder="university Name">  
                        </mat-form-field>  
                        <mat-error>  
                            <span *ngIf="!empEducationForm.get('university').valid && empEducationForm.get('university').touched">Please enter University Name !!!</span>  
                        </mat-error>  
                    </td> 
                </tr>    
                <tr>
                    <td colspan="2">  
                        <mat-form-field class="demo-full-width">  
                            <input formControlName="CollegeName" matInput placeholder="College Name">  
                        </mat-form-field>  
                        <mat-error>  
                            <span *ngIf="!empEducationForm.get('CollegeName').valid && empEducationForm.get('CollegeName').touched">Please enter College Name !!!</span>  
                        </mat-error>  
                    </td>  
                </tr> 
                <tr>
                  <td colspan="2">  
                      <mat-form-field class="demo-full-width">  
                          <input formControlName="Stream" matInput placeholder="Stream Name">  
                      </mat-form-field>  
                      <mat-error>  
                          <span *ngIf="!empEducationForm.get('Stream').valid && empEducationForm.get('Stream').touched">Please enter Stream Name !!!</span>  
                      </mat-error>  
                  </td>  
                </tr>              
                <tr>  
                    <td colspan="2">  
                        <mat-form-field class="demo-full-width">  
                            <input formControlName="YearOfPassing" matInput [matDatepicker]="picker" placeholder="Year Of Passing">  
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>  
                            <mat-datepicker touchUi="true" #picker></mat-datepicker>  
                        </mat-form-field>  
                        <mat-error>  
                            <span *ngIf="!empEducationForm.get('YearOfPassing').valid && empEducationForm.get('YearOfPassing').touched">Please select Year Of Passing !!!</span>  
                        </mat-error>  
                    </td>  
                </tr>  
                <tr>  
                    <td colspan="2">  
                        <span>Type</span> &nbsp;
                        <mat-radio-group formControlName="Type">  
                            <mat-radio-button value="FullTime">Full Time</mat-radio-button> &nbsp;
                            <mat-radio-button value="PartTime">Part Time</mat-radio-button>  
                        </mat-radio-group>  
                        <mat-error>  
                            <span *ngIf="!empEducationForm.get('Type').valid && empEducationForm.get('Type').touched">Please select any Type !!!</span>  
                        </mat-error>  
                    </td> 
                </tr>
                <tr>  
                  <td colspan="2">  
                      <mat-form-field class="demo-full-width">  
                          <input formControlName="Percentage" matInput placeholder="Percentage">  
                      </mat-form-field>  
                      <mat-error>  
                          <span *ngIf="!empEducationForm.get('Percentage').valid && empEducationForm.get('Percentage').touched">Please enter Percentage..!!!</span>  
                      </mat-error>  
                  </td> 
              </tr>     
                <tr>  
                  <td colspan="2">  
                      <span>IsYearGap</span> &nbsp;
                      <mat-radio-group formControlName="IsYearGap">  
                          <mat-radio-button value="Yes">Yes</mat-radio-button> &nbsp;
                          <mat-radio-button value="No">No</mat-radio-button>  
                      </mat-radio-group>  
                      <mat-error>  
                          <span *ngIf="!empEducationForm.get('IsYearGap').valid && empEducationForm.get('IsYearGap').touched">Please select Option !!!</span>  
                      </mat-error>  
                  </td> 
              </tr> 
              <tr>
                  <td colspan="2">  
                      <mat-form-field class="demo-full-width" >  
                          <input formControlName="NoOfYearGap" type="number"  matInput placeholder="No Of Year Gap">  
                      </mat-form-field>  
                      <mat-error>  
                          <span *ngIf="!empEducationForm.get('NoOfYearGap').valid && empEducationForm.get('NoOfYearGap').touched">Please enter No Of Year Gap !!!</span>  
                      </mat-error>  
                  </td>  
              </tr> 
  
 
                <tr>  
                    <td colspan="2" class="content-center">  
                        <button mat-raised-button color="accent" [disabled]="!empEducationForm.valid"  (click)="empEducationForm">Submit</button>  
                    </td>  
                </tr>
             
            </table>  
        </form>  
    </mat-card-content>  
  </mat-card>   
